<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<title>mariages</title>
</head>
<body>
 <div >
 <h1 >mariages</h1>
 <table>
              <thead>
                  <tr>
          
                  <th>Date</th>
                  <th>PersonneHomme</th>
                <th>Son Genre</th>
                  <th>PersonneFemme</th>
               <th>Son genre </th>
                  </tr>
              </thead>
              <tbody  >
          
                 <tr th:each="p:${listmariage}">
                 <td th:text=${p.date}></td>
                 <td th:text=${p.personneMari.nom}></td>
                 <td th:text=${p.personneMari.genre}></td>
                 <td th:text=${p.personneFemme.nom}></td>
                 <td th:text=${p.personneFemme.genre}></td>
                 </tr>
              </tbody>
 </table>
 </div>

</body>
</html>